.aboutPageContainer {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutContainer {
  max-width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.negiTeamSelector {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.teamPhoto {
  overflow: hidden;
  height: 300px;
  width: 300px;
}

.teamContainer {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.mobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.infoContainer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  height: 100%;
  padding: 10% 0;
}

.infoContainer > p {
  text-align: start;
}

.teamContainer {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.layeredImageContainer {
  width: 100%;
  height: 100%;
  display: inherit;
  align-self: flex-end;
}

.layeredImage {
  position: absolute;
  right: 0;
  top: 0;
}

.memberSelected {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  opacity: 50%;
  /* background-color:  #b1ddec; */
}

.memberNotSelected {
  cursor: pointer;
}

.memberNotSelected:hover {
  opacity: 50%;
}

.infoList {
  list-style: none;
  text-align: start;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 1%;
  border-radius: 2rem;
}

.event {
  width: 100%;
  text-align: center;
  margin: 1%;
  border-radius: 2rem;
  display: flex;
  background-color: #b2deef;
  overflow: hidden;
}

.eventContents {
  margin: 0 1%;
  width: 70%;
  padding: 0 5%;
}

.eventImages {
  min-height: 100%;
  height: 100%;
  transform: scale(102%);
}

.eventsCardHeader {
  height: 30%;
  padding: 2%;
}

.eventsCardHeader p {
  line-height: 0.2;
}

.eventsCardHeader h2 {
  line-height: 0.2;
}

.eventCardDescription {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========MOBILE======== */

.mobileTeamSelector {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mobileInfoContainer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.layeredImageContainer {
  width: 100%;
  height: 100%;
  display: inherit;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileEventCardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileEventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1%;
  border-radius: 2rem;
}

.mobileEvent {
  width: 80%;
  text-align: center;
  background-color: #b2deef;
  margin: 3%;
  border-radius: 2rem;
  overflow: hidden;
}

.mobileEventContents {
  padding: 1%;
  width: 70%;
}

.mobileEventImages {
  width: 100%;
  height: 80%;
  overflow: hidden;
  transform: scale(102%);
}

.mobileEventsCardHeader {
  height: 30%;
  padding: 3%;
}

.mobileEventsCardHeader p {
  margin: 0;
}

.mobileEventsCardHeader h2 {
  margin: 1%;
}

.loadingText {
  position: absolute;
  top: 60%;
  z-index: 5;
}

.mobileLoadingText {
  margin: 0;
}

.mobileEventCardDescription {
  padding: 0 5%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
