.aboutPageContainer {
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.redCrossCanada {
  width: 50%;
  text-align: center;
}
