.dashboardContainer {
  width: 100%;
  height: 120vh;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transition: 0.8s;
}

.darkBackground {
  transition: 0.8s;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  background-color: rgb(47, 79, 79);
}

.dashboardStreamerContainer {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

/* ===========TOOLBAR============= */

.darkToolBarContainer {
  position: absolute;
  width: 250px;
  height: 92.5%;
  left: -250px;
  transition: 0.5s;
  background-color: rgb(27, 49, 49);
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 5px 8px 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 3;
}

.toolBarContainer {
  transition: 0.5s;
  position: absolute;
  width: 250px;
  height: 92.5%;
  left: -250px;
  background-color: #72cff8;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 3px 5px 8px 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 3;
}

.toolBarButton {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  left: 210px;
  top: 40%;
  background-color: #72cff8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.darkToolBarButton {
  transition: 0.5s;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  left: 210px;
  top: 40%;
  background-color: rgb(27, 49, 49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.bar {
  transform: translateX(15px);
  width: 15px;
  height: 3px;
  margin: 1px 0;
  background-color: black;
}

.toolBarMenu {
  min-height: 15%;
}

.streamerToolsContainer {
  min-height: 20%;
}

.modToolsContainer {
  min-height: 20%;
  margin-bottom: 20%;
}

.darkMode {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ============MOD ROOM STATUS================= */
.statusContainer {
  min-height: 15%;
}

.streamerContainer {
  height: 70px;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 0 2% 1% 2%;
}

.streamerContainer > h5 {
  text-align: center;
  margin: 0.5rem;
}

.streamerRoom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modStatusContainer {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.modStatusHeader {
  text-align: center;
  margin: 0;
}

.modStatusOpen {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  background-color: rgba(0, 191, 0, 50%);
  margin: 1%;
}

.modStatusClose {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  background-color: rgba(143, 143, 143, 50%);
}

.modStatusOpenButton {
  font-size: 0.5rem;
}

.userList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0;
}

.userList li {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 5%;
}

.offlineModsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
  background-color: rgba(128, 128, 128, 70%);
}

/* ================MENU BUTTON================= */

.hideMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  position: absolute;
  background-color: #72cff8;
  bottom: 2%;
  left: -175px;
  z-index: 4;
  transition: 0.5s;
  border-radius: 1rem;
}

.darkHideMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  position: absolute;
  background-color: rgb(27, 49, 49);
  bottom: 2%;
  left: -175px;
  z-index: 4;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 1rem;
}

/* =========DASHBOARD============ */

.streamerImage {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.dashboardContainer h1 {
  margin: 0;
}

.dashboardStreamerContainer {
  width: 80%;
  padding: 1% 0;
}

.streamHistoryContainer {
  width: 80%;
  max-height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2% 0;
}

.historyCard {
  width: 99%;
  display: flex;
  margin: 4px 0;
  padding: 2%;
}

.mobileHistoryCard {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 0;
  padding: 2%;
}

.streamHistoryThumbnail {
  width: 30%;
  min-width: 178px;
  min-height: 100px;
}

.streamHistoryThumbnail:hover {
  opacity: 60%;
  cursor: pointer;
}

.streamHistoryContent {
  width: 70%;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.streamHistoryContent > h4 {
  margin: 0.2rem;
}

.streamHistoryContent p {
  margin: 0;
}

.mobileStreamHistoryContent {
  width: 100%;
  padding: 5%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mobileStreamHistoryContent > h4 {
  margin: 0.2rem;
}

.mobileStreamHistoryContent p {
  margin: 0.2rem;
}

.streamHistoryInfo {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.mobileStreamHistoryInfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
