.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  overflow: hidden;
}

.darkBackground {
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(47, 79, 79);
}

.main {
  min-height: 80vh;
  max-width: 1500px;
  width: 100%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.controlsContainer {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textBox {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.2rem;
  margin: 0.05rem;
  transition: 0.8s;
}

.textBox::placeholder {
  color: gray;
}

.darkTextBox {
  background-color: gray;
  border: 1px solid black;
  border-radius: 0.2rem;
  margin: 0.05rem;
  transition: 0.8s;
  color: black;
}

.darkTextBox::placeholder {
  color: darkgray;
}

.controls {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.controls button {
  width: 100%;
  height: 50px;
}

.buttonsContainer {
  width: 25%;
  height: 100%;
}

.keyButtons {
  width: 100%;
  min-height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.emptyKeyButtons {
  width: 100%;
  min-height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.connectedButtons {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 20%;
}

.keyButton {
  height: 40px;
}

.selectedKeyButton {
  height: 40px;
  opacity: 70%;
}

.screenDisplay {
  text-align: center;
  z-index: 1;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  width: 20%;
  height: 100%;
}

.optionsContainer {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shuffleContainer {
  height: 100%;
  width: 100%;
}

.shuffleContainer span {
  width: 100%;
}

.timerContainer {
  width: 20%;
  height: 100%;
  display: flex;
  margin: 0 1%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerContainer {
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.selectedTimer {
  opacity: 70%;
  width: 45%;
}

.button {
  width: 45%;
}
