.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controlsContainer {
  width: 100%;
  padding: 0 10%;
  margin: 0 5%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.submitButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controls {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.controls button {
  width: 100%;
  height: 50px;
}

.keyButtons {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.keyButton {
  width: 100px;
  height: 40px;
}

.screenDisplay {
  text-align: center;
  z-index: 1;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  width: 25%;
  height: 100%;
}

.optionsContainer {
  width: 15%;
  height: 100%;
}

.timerContainer {
  width: 15%;
  height: 100%;
}
