.incomePageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.incomeContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.calculationsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.calculationsContainer div {
  margin: 0 2%;
  text-align: center;
}

.topQuickLook {
  display: flex;
}

.filterform {
  margin: 5%;
}

.streamerCard {
  cursor: pointer;
}
