.incomePageContainer {
  width: 100%;
  height: 200vh;
}

.incomeContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculationsContainer {
  display: flex;
  justify-content: center;
}

.calculationsContainer div {
  margin: 0 2%;
}
