.modControlsPageContainer {
  width: 100%;
  max-width: 1500px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.videoPlayerContainer {
  width: 100%;
  height: 70%;
}

/* =============CONTROL PANEL=============== */

.controlsContainer {
  width: 100%;
  height: 30%;
}

.toolsSelectorContainer {
  width: 100%;
  height: 15%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.selectorTab {
  height: 35px;
  width: 100px;
  background-color: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedTab {
  height: 35px;
  width: 100px;
  background-color: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectorTab > p {
  color: white;
  margin: 0;
}

.selectedTab > p {
  color: white;
  margin: 0;
}

.controls {
  border: 1px solid black;
  width: 100%;
  height: 85%;
  background-color: white;
}

/* =============RAFFLE CONTROL PANEL============== */

.rafflePanelContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.raffleButtonsContainer {
  height: 100%;
  width: 30%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.raffleShuffleContainer {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.raffleShuffleContainer button {
  height: 25%;
}

.raffleTimersContainer {
  width: 20%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.raffleOptionsContainer {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.keyButton {
  height: 40px;
  width: 30%;
}

.selectedKeyButton {
  height: 40px;
  width: 30%;
  opacity: 70%;
}

/* ===========Text Overlay Control Panel=========== */

.textOverlayContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  padding: 0 10px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textInputContainer {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.directionalPadContainer {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
