.twitchContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.streamerContainer {
  display: flex;
  min-width: 30%;
  width: 40%;
  height: 80%;
  margin: 0 5px;
}

.videoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.videoFeed {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.streamHeader {
  line-height: 0;
}

.streamHeader > p {
  margin-left: 10px;
}

.videoFeed div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  border: 0;
}

.closeButton {
  cursor: pointer;
}

.videoPlayer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
