.navBarPageContainer {
  width: 100%;
  max-width: 1500px;
  height: 70px;
  display: flex;
  justify-content: center;
}

.navBarContent {
  z-index: 2;
  min-width: 1200px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pageSelector {
  width: 52%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
  font-size: 1rem;
  z-index: 5;
  width: 26%;
  text-align: center;
}

/* .link:hover {
  opacity: 50%;
  cursor: pointer;
} */

.selector {
  width: 100%;
}

.signInButton {
  height: 100%;
  min-width: 90px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.button {
  min-width: 75px;
}

/* ==========MOBILE==========- */

.navBarMobileContainer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBarMobileContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.barContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  z-index: 5;
}

.bar {
  width: 30px;
  height: 5px;
  background-color: black;
}

.blurOverlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
}

.mobileNavBarSelector {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
  width: 70%;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  z-index: 6;
}

.mobileHeader {
  text-align: center;
  line-height: 0;
}
