.overlayPageContainer {
  width: 100%;
  max-width: 1500px;
  display: flex;
}

.overlayPageContent {
  position: absolute;
  left: 0;
  top: 7%;
  width: 100%;
  height: 90vh;
  background-color: aliceblue;
  z-index: -1;
}

/* ============OVERLAY CONTROLS============= */
.overlayControlsContainer {
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.addTextButton {
  margin-left: 5%;
}

.editTextContainer {
  margin: 0;
  width: 0;
}

.textInput {
  background-color: transparent;
  border: 1px solid #dfdfdf;
  border-radius: 0.3rem;
}

.fontSize {
  width: 50px;
}

.editContainer {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  transform: scale(80%);
}

.editContainer span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
