.overlayPageContainer {
  width: 100%;
  max-width: 1500px;
  display: flex;
}

.overlayPageContent {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  height: 95vh;
}

.noTextOverlayPageContent {
  position: absolute;
  left: 0;
  top: 7%;
  width: 100%;
  height: 69vh;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============OVERLAY CONTROLS============= */
.overlayControlsContainer {
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.addTextButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.editTextContainer {
  margin: 0;
  position: fixed;
  width: fit-content;
  max-width: fit-content;
  display: inline-block;
}

.textInput {
  background-color: transparent;
  border: 1px solid #dfdfdf;
  border-radius: 0.3rem;
}

.fontSize {
  width: 50px;
}

.editContainer {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  transform: scale(80%);
}

.editContainer span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 5px 10px;
  border-radius: 2rem;
  margin: 2px 5px;
  cursor: pointer;
}

.textBox {
  display: inline-block;
  border-radius: 1rem;
  padding: 10px;
  cursor: pointer;
}

.selectedTextBox {
  display: inline-block;
  border: 1px solid #dfdfdf;
  border-radius: 1rem;
  padding: 10px;
}
