.storePageContainer {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pageHeader {
  text-align: center;
}

.cardContainer {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.21);
  min-width: 30%;
  max-width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0% 0% 0% 0%;
  overflow: hidden;
}

.cardContainer h2 {
  line-height: 0;
}

.cardContainer p {
  margin: 0;
}

.shoppingCartButton {
  width: 120%;
  height: 15%;
  padding-bottom: 2%;
  transform: translateY(5px);
  background-color: #556cd6;
  transition: all 0.2s ease;
  font-weight: 600;
  border: 1px solid #556cd6;
}

.productInCart {
  width: 120%;
  height: 15%;
  padding-bottom: 2%;
  transform: translateY(5px);
  opacity: 50%;
  transition: all 0.2s ease;
  font-weight: 600;
  background-color: #556cd6;
  border: 1px solid #556cd6;
  border: none;
}

.section {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 112px;
  border-radius: 6px;
  justify-content: space-between;
}

.checkoutForm {
  display: flex;
  justify-content: center;
}

.checkoutButton {
  bottom: 5%;
  width: 400px;
  height: 50px;
  background: #556cd6;
  border-radius: 4px;
  color: white;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  position: fixed;
}

.hideCheckoutButton {
  bottom: 5%;
  width: 400px;
  height: 50px;
  background: #556cd6;
  border-radius: 4px;
  color: white;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  position: fixed;
  opacity: 0;
}

.checkoutButton:hover {
  opacity: 0.8;
}

.thumbnail {
  object-fit: cover;
}

/* =============MOBILE=============== */

.mobileStorePageContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.mobileCardContainer {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.21);
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 0% 0% 0% 0%;
  overflow: hidden;
  margin: 5% 0;
}

.mobileCardContainer h2 {
  margin: 0;
}

.mobilePageHeader {
  text-align: center;
}

.mobilePageHeader h1 {
  margin: 0;
}

.mobilePageHeader p {
  margin: 0;
}

.mobileDescription {
  height: 100px;
  padding: 0 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.mobileCheckoutButton {
  bottom: 5%;
  left: 5%;
  right: 5%;
  width: 87%;
  height: 50px;
  background: #556cd6;
  border-radius: 4px;
  color: white;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  position: fixed;
}

.mobileHideCheckoutButton {
  bottom: 0%;
  left: 5%;
  right: 5%;
  width: 87%;
  height: 50px;
  background: #556cd6;
  border-radius: 4px;
  color: white;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  position: fixed;
  opacity: 0;
}
