.travelPageContainer {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.locationsContainer {
  width: 80%;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.locationCardContainer {
  width: 49%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5%;
}

.descriptionItem {
  list-style: none;
}

.locationCardContainer h3 {
  width: 80%;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.locationName {
  width: 85%;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.mobileCaptionContainer {
  width: 100%;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.captionContainer {
  display: flex;
  justify-content: center;
}

.caption {
  width: 95%;
}

.mobileCityContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cityContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.locationCardContainer span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationCardContainer span:hover > h3 {
  transition: all 0.2s ease;
  opacity: 50%;
}

.locationCity {
  width: 50%;
}

.loadingText {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileLoadingText {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageButton {
  background-color: #b2deef;
  border: 1px solid #b2deef;
  padding: 5px 10px;
  border-radius: 2rem;
  color: white;
  margin: 0 2%;
  cursor: pointer;
}

.locationContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 70%;
  height: 100%;
}

.locationContent p {
  margin: 0.5rem;
}

.monitorViewTitle {
  text-align: center;
  width: 100%;
  margin-bottom: 2%;
}

/* ==========Individual Location Page============== */

.locationPageContainer {
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationPageContainer > h1 {
  line-height: 0;
}

.locationInfoContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionList {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.map {
  height: 40%;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.clipFrame {
  border: 0;
}

.thumbnailContainer {
  display: flex;
  overflow: hidden;
}

.thumbnails {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.thumbnails:hover {
  opacity: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.links {
  display: flex;
  justify-content: space-around;
}

.filterContainer {
  width: 80%;
  height: 15vh;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  margin-bottom: 1%;
}

/* ========MOBILE============ */

.mobileTravelPageContainer {
  width: 100%;
  text-align: center;
}

.mobileLocationContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.mobileLocationContent p {
  margin: 0.5rem;
}

.mobileThumbnailContainer {
  max-width: 300px;
  max-height: 250px;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  overflow: hidden;
  margin: 5% 0% 0% 0%;
}

.mobileViewTitle {
  text-align: center;
  line-height: 0.5rem;
  padding: 0;
  margin: 0;
}

.mobileViewTitle h3 {
  font-size: 1.5rem;
}

.mobileLocationCardContainer {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2%;
  padding: 2% 1% 5% 1%;
  border: 1px solid black;
}

.mobileLocationCardContainer > .locationContent > div h3 {
  margin: 0;
}

.underConstructionContainer {
  width: 50%;
}

/* ==========Individual Mobile Location Page============== */

.mobileLocationPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileLocationPageContainer h1 {
  text-align: center;
}

.mobileLocationPageContainer h3 {
  text-align: center;
}

.mobileLocationInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mobileClipFrame {
  display: flex;
  justify-content: center;
}

/* =============SEARCHBAR============ */

.searchBarContainer {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px 5%;
}

.searchButton {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 3px 10px;
  border-radius: 2rem;
  margin: 2px 1px;
  cursor: pointer;
  height: 40px;
}

/* ==========CATEGORY SELECTOR========= */
.categoryContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.categorySelector {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryButton {
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.categoryButton:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease;
}

.categoryButtonSelected {
  background-color: black;
  color: white;
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

/* ===========Likes Function============ */

.likesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin: 5px 0px 5px 0px;
}

.likesContainer > button {
  margin: 0px 0px 0px 0px;
}

.mobilesLikesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 5px 0px 5px 0px;
}

.mobilesLikesContainer > button {
  margin: 0px 0px 0px 0px;
}

.loginAlert {
  position: fixed;
  z-index: 5;
  bottom: 5%;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
