.travelPageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.locationsContainer {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.locationCardContainer {
  width: 45%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}

.locationCardContainer > div > h3 {
  margin: 0;
  cursor: pointer;
}

.homepageButton {
  background-color: #b2deef;
  border: 1px solid #b2deef;
  padding: 5px 10px;
  border-radius: 2rem;
  color: white;
  margin: 0 2%;
  cursor: pointer;
}

/* ==========Individual Location Page============== */

.locationPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationPageContainer > h1 {
  line-height: 0;
}

.locationInfoContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionList {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.map {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.clipFrame {
  border: 0;
}
